@use '../../styles' as *;

.container {
    margin-right: 30px;
    .category {
        display: flex;
        align-items: center;
        gap: 3px;
        @include textStyle(black, 1.1rem, 600);
        
        span:last-child {
            margin-bottom: 5px;
        }
    }
}

.types {
    li {
       list-style: none;
       margin-top: 5px;
       color: rgb(131, 131, 131);
    }
}