@use '../../styles' as *;

.container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.name {
    h1 {
        @include textStyle($darkBlue, 1.5rem, 500);
    }
    .place {
        margin-top: 10px;
        display: flex;
        
        span:last-child {
            margin-right: 2px;
        }
    }
}

.explanations {
    display: flex;
    flex-direction: column;
    gap: 15px;
 
    p:first-child {
        color: $darkBlue;
    }
}

@include laptop {
    .container {
        align-items: center;
        text-align: center;
    }
    
    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}